/* Global */
html, body {
  height: 100%;
  box-sizing: border-box; }

.card {
  margin-bottom: 25px; }

.bg-primary {
  background-color: #039BE5 !important; }

.bg-success {
  background-color: #3ab921 !important; }

.bg-info {
  background-color: #2db2ed !important; }

.bg-warning {
  background-color: #f28507 !important; }

.bg-danger {
  background-color: #ea4916 !important; }

/* BUTTONS */
.btn-primary {
  background-color: #039BE5;
  border-color: #1186c9; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #1186c9;
    border-color: #1186c9; }

.btn-outline-primary {
  border-color: #039BE5; }
  .btn-outline-primary:hover, .btn-outline-primary:focus {
    background-color: #1186c9;
    border-color: #1186c9; }

.btn-success {
  background-color: #3ab921;
  border-color: #0ba523; }
  .btn-success:hover, .btn-success:focus {
    background-color: #0ba523;
    border-color: #3ab921; }

.btn-outline-success {
  border-color: #3ab921; }
  .btn-outline-success:hover, .btn-outline-success:focus {
    background-color: #3ab921;
    border-color: #3ab921; }

.btn-warning {
  background-color: #f28507;
  border-color: #c66e08; }
  .btn-warning:hover, .btn-warning:focus {
    background-color: #c66e08;
    border-color: #f28507; }

.btn-outline-warning {
  border-color: #f28507; }
  .btn-outline-warning:hover, .btn-outline-warning:focus {
    background-color: #f28507;
    border-color: #f28507; }

.btn-danger {
  background-color: #ea4916;
  border-color: #c1390e; }
  .btn-danger:hover, .btn-danger:focus {
    background-color: #c1390e;
    border-color: #ea4916; }

.btn-outline-danger {
  border-color: #c1390e; }
  .btn-outline-danger:hover, .btn-outline-danger:focus {
    background-color: #ea4916;
    border-color: #ea4916; }

.btn-info {
  background-color: #2db2ed; }
  .btn-info:hover, .btn-info:focus {
    background-color: #138dc3;
    border-color: #2db2ed; }

.btn-outline-info {
  border-color: #138dc3; }
  .btn-outline-info:hover, .btn-outline-info:focus {
    background-color: #2db2ed;
    border-color: #2db2ed; }

.btn-secondary {
  background-color: #757575;
  color: #FFFFFF; }
  .btn-secondary:hover, .btn-secondary:focus {
    background-color: #323232;
    color: #FFFFFF; }

.btn-outline-secondary {
  border-color: #757575;
  color: #757575; }
  .btn-outline-secondary:hover, .btn-outline-secondary:focus {
    background-color: #757575;
    color: #FFFFFF; }

/* ACTION BUTTON */
#action-button {
  position: fixed;
  font-size: 36px;
  font-weight: bold;
  bottom: 20px;
  right: 50px;
  height: 60px;
  width: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1000;
  transition: 0.3s; }
  #action-button a {
    color: #FFFFFF; }
  #action-button a:hover {
    text-decoration: none; }

/* ALTERTS */
.alert-success {
  background-color: rgba(58, 185, 33, 0.33);
  border-color: rgba(58, 185, 33, 0.33);
  color: #0ba523; }

.alert-info {
  background-color: rgba(45, 178, 237, 0.33);
  border-color: rgba(45, 178, 237, 0.33);
  color: #138dc3; }

.alert-warning {
  background-color: rgba(242, 133, 7, 0.33);
  border-color: rgba(242, 133, 7, 0.33);
  color: #c66e08; }

.alert-danger {
  background-color: rgba(234, 73, 22, 0.33);
  border-color: rgba(234, 73, 22, 0.33);
  color: #c1390e; }

/* BADGES */
.badge-default {
  background-color: #323232; }

.badge-primary {
  background-color: #039BE5; }

.badge-success {
  background-color: #3ab921; }

.badge-info {
  background-color: #2db2ed; }

.badge-warning {
  background-color: #f28507; }

.badge-danger {
  background-color: #ea4916; }

/* TEXT */
.text-muted {
  color: #757575 !important; }

.text-primary {
  color: #039BE5 !important; }

.text-success {
  color: #3ab921 !important; }

.text-info {
  color: #2db2ed !important; }

.text-warning {
  color: #f28507 !important; }

.text-danger {
  color: #ea4916 !important; }

/* PROGRESS BAR */
.progress-bar {
  background-color: #039BE5; }

/* Navbar */
.navbar {
  z-index: 2; }

.nav-top .navbar-nav .nav-link {
  color: #FFFFFF; }
  .nav-top .navbar-nav .nav-link:hover {
    color: #323232; }

/* Sidebar */
#sidebar {
  background-color: #323232;
  width: 250px;
  margin-top: 54px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 1;
  display: block; }
  #sidebar nav > .nav-link {
    width: 250px;
    display: inline-block;
    color: #fff; }
    #sidebar nav > .nav-link:hover {
      color: #039BE5; }

/* Content Area */
#content {
  padding-left: 250px;
  min-height: 100%;
  transition: all 1s ease;
  padding-top: 56px;
  background-color: #dadada; }

.full-width {
  padding-left: 0 !important;
  transition: all 1s ease; }

#nav-toggle {
  transition: all 1s ease;
  margin: 10px;
  position: absolute; }
  #nav-toggle.active {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all 1s ease; }

.breadcrumb {
  padding-left: 60px;
  background-color: #f7f7f9; }

/* Dashboard Statistics */
#dashboard-statistics {
  color: #323232; }
  #dashboard-statistics .value {
    color: #757575; }

/* Chat Area */
#live-chat-body {
  height: 400px;
  overflow-x: hidden; }

/* Task List */
/* FORM */
/* TRUMBOWYG */
.trumbowyg-box, .trumbowyg-editor {
  margin: 0 !important; }

.custom-file-control.selected:lang(en)::after {
  content: "" !important; }

/*# sourceMappingURL=style.css.map */
